github "AFNetworking/AFNetworking" == 4.0.1 #编译完成
github "ishkawa/APIKit" == 5.0.0  #编译完成
github "xmartlabs/Eureka" == 5.2.1  #编译完成
github "evgenyneu/keychain-swift" == 17.0.0  #编译完成
github "SnapKit/Masonry" == 1.1.0  #编译完成
github "CoderMJLee/MJExtension" == 3.2.1   #编译完成
github "jdg/MBProgressHUD" == 1.1.0  #编译完成
github "SDWebImage/SDWebImage" == 5.2.3   #编译完成
github "HeroTransitions/Hero" == 1.4.0   #编译完成
github "CocoaLumberjack/CocoaLumberjack" == 3.6.0  #编译完成
github "realm/realm-cocoa" == 3.18.0  #编译完成
github "CoderMJLee/MJRefresh" == 3.4.1 #编译完成
github "TumblrArchive/TMCache" == 2.1.0  #编译完成
github "wxxsw/SwiftTheme" == 0.4.7  #编译完成
github "danielgindi/Charts" == 3.4.0   #编译完成



#github "hackiftekhar/IQKeyboardManager" == 6.5.0  #编译完成
#github "kishikawakatsumi/KeychainAccess" == 4.1.0  #编译完成
#github "bricklife/JSONRPCKit"
#github "krzyzanowskim/OpenSSL"
#github "mac-cain13/R.swift" == 5.0.3
#github "Moya/Moya" == 10.0.2
#github "bricklife/JSONRPCKit" == 3.0.0
#github "mxcl/PromiseKit" == 6.10.0