<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Channel</key>
	<string>MIFI</string>
	<key>ServerDomain</key>
	<string>https://www.qlc.mobi/</string>
	<key>MIFI</key>
	<string>05cd19c64d5f4faabd27c74607fd1f51</string>
	<key>qlc_staking_node</key>
	<string>https://nep5.qlcchain.online</string>
	<key>qlc_node</key>
	<string>http://47.103.40.20:19735</string>
</dict>
</plist>
