<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464735094255-o1f1k1n0q73ofq0lqsm4au262p8gh3cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464735094255-o1f1k1n0q73ofq0lqsm4au262p8gh3cn</string>
	<key>API_KEY</key>
	<string>AIzaSyAE7IW14T5Vgxbotc3FMgfl-mpPGFokmto</string>
	<key>GCM_SENDER_ID</key>
	<string>464735094255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qlcchain.qwallet</string>
	<key>PROJECT_ID</key>
	<string>q-wallet-f747b</string>
	<key>STORAGE_BUCKET</key>
	<string>q-wallet-f747b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464735094255:ios:baabaabd0f707838a5221a</string>
	<key>DATABASE_URL</key>
	<string>https://q-wallet-f747b.firebaseio.com</string>
</dict>
</plist>